*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: bisque;
}

nav ul{
    background-color: black;
    color: white;
    list-style-type: none;
    display: flex;
    align-items: center;
    height: 50px;
}
nav ul li{
 padding: 0 20px;
}
 .items{
   display: flex;
    font-weight: bolder;
    font-size: 1.4rem;
    align-items: center;
 }

 .items img{
     border-radius: 80px;
     width: 35px;
     padding:  0 2px;
    }

 .container{
  min-height: 72vh;
  background-color: black;
  color: white;
  padding:15px ;
  background-image: url("cover1.png");
  display: flex;
  margin:20px;
  /* background-repeat: no-repeat; */
  /* background-position: 25px 25px; */
 }

 

 .bottom{
    position: sticky;
    background-color: black;
    height: 90px;
    bottom: 0;
    justify-content: center;
    text-align: center;
   display: flex;
   color:white;
   flex-direction:column;
 }

 .icons{
    margin-top: 14px;
 }
 #progressBar{
    width: 90vw;
    
 }